@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.music_block {
    height: calc(100vh - 60px);
}